$orange :#F15223;
$black : #000000;
$main-pink : #FF6079;
$light-pink : #FFDFE4;
$play-gradient: linear-gradient(to bottom, $black, rgba($color: $black, $alpha: 0.66));
$light-gray: #7F7F7F; 
$white: #FFFFff;
$pink-gradient: linear-gradient( to bottom, $main-pink, rgba($color: $main-pink, $alpha: 0.63))