@use 'colors' as *;
@use 'footer' as *;
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 48px);
    padding: 48px 24px;
    .avatar{
        width: 58px;
        height: 58px;;
        background-color: #C04747;
        border-radius: 50%;
        position: relative;
        .circle{
            position: absolute;
            bottom: -7px;
            right: -7px;
            width: 13px;
            height: 13px;
            background-color: $orange;
            border-radius: 50%;
            border: 5px solid $white;
        }
    }
    .greeting{
        h2{
            color: $white;
        }
        p{
            color: $light-gray;
        }
    }
}
.Kcal{
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;
        .total-kcal{
            color: $light-gray;
        }
    }
    .row{
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .bottom-text{
                color:$light-gray
            }
        }  
    }
    .stats{
        padding: 0 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .bar{
            width: 16px;
            height: 146px;
            background-color: #E9EDF7;
            border-radius: 60px;
            position: relative;
            display: flex;
            align-items: end;
            .fill{
                border-radius: 60px;
                width: 100%;
                background-color: $main-pink;
                height: 60px;   
            }
            &:nth-child(1){
                .fill{
                    height: 86px;
                    background-color: $black;
                }
            }
            &:nth-child(3){
                .fill{
                    height: 110px;
                    background-color: $black;
                }
            }
            &:nth-child(5){
                .fill{
                    height: 74px;
                    background-color: $black;
                }
            }
            &:nth-child(7){
                .fill{
                    height: 104px;
                    background-color: $black;
                }
            }
        }
    }
    .row-stats{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        margin-bottom: 20px;
        .dumbbell-stats{
            width: 80px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: $main-pink;
            border-radius: 12px;
            h5{
                color: $white
            }
            h4{
                color: $white
            }
        }
        .threadmil-stats, .rope-stats{
            width: 80px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border: 1px solid #E9EDF7;
            border-radius: 12px;
        }
    }
    
}
.plan-text{
    margin-left: 24px;
    margin-bottom: 20px;
    h4{
        color: $light-gray
    }
}
.my-plan{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .plan-window{
        width: 300px;
        height: 130px;
        border-radius: 24px;
        padding: 24px;
        background-color: #feeee9;
        .plan-circle{
            width: 56px;
            height: 56px;
            background: linear-gradient(to bottom, $orange, rgba($color: $orange, $alpha: 0.66));
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .plan-window-text{
            margin-left: 70px;
            margin-top: -56px;
            h4{
                color: $light-gray;
            }
        }
        .next-exercise{
            width: 100%;
            height: 70px;
            border-radius: 16px;
            background-color: $white;
            display: flex;
            margin-top: 10px;
            .next-exercise-icon{
                margin-left: 20px;
                margin-top: 20px;
            }
            .next-exercise-texts{
                margin-left: 10px;
                margin-top: 15px;
                h5{
                    color: $light-gray;
                }
            }
        }

    }
}
.modal-container{
    background-color: rgba($color: $black, $alpha: 0.4);
    // position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    .modal{
        background-color: $light-pink;
        background-image: url("../img/Illustration.png");
        background-repeat: no-repeat;
        .modal-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 48px);
            padding: 40px 24px;
            button{
                width: 56px;
                height: 56px;
                border-radius: 50%;
                &.back{
                    border: 1px solid $light-gray;
                }
            }
            .modal-header-texts{
                flex-direction: column;
            }
        }
        .modal-main{
            padding:  0 24px;
            .row{
                display: flex;
            }
            .col{
                width: calc(100% / 7);
                aspect-ratio: 1 / 1;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active{
                    color: $white;
                    background-color: $main-pink;
                    border-radius: 50%;
                }
            }
            .days{
                color: $main-pink;
                display: flex;
                flex-direction: row;
                .col.active{
                    color: $black;
                    background-color: transparent;
                }
            }            
        }
    }
}